[submodule "SneakyHolos"]
	path = SneakyHolos
	url = https://github.com/Team-Sneakymouse/SneakyHolos
[submodule "SneakyMannequins"]
	path = SneakyMannequins
	url = https://github.com/Team-Sneakymouse/SneakyMannequins
