[submodule "SneakyHolos"]
	path = SneakyHolos
	url = /mnt/files/Workspaces/workspace-kotlin/SneakyHolos-temp
[submodule "SneakyMannequins"]
	path = SneakyMannequins
	url = /mnt/files/Workspaces/workspace-kotlin/SneakyMannequins-temp
